<div id="homeheader" class="jumbotron">
  <header> <h1>Angular Excercise</h1></header>
</div>
<br>
<button class="btn btn-danger" ng-click="getAll()">get all</button>
<br>
<br>
<div>
  <form>
    Name:<br>
    <input type="text" ng-model="name"><br>
    Eamil:<br>
    <input type="text" ng-model="email"><br>
    <br>
    <input type="submit" ng-click="addProfile()">
  </form>
</div>
<div>
  <PTitle><h1>Profiles</h1></PTitle> 
  <br>
  <profiles >
    <div class="profile" ng-repeat="profile in profiles">
      <div class="profileInfo">
        <div class="name"> Name: {{profile.name}} </div>
        <div class="email"> Email: {{profile.email}} </div>
          <span><button ng-click="profileEdit(profile._id)">Edit</button></span>
          <span><button ng-click="profileDelete(profile._id)">Delete</button></span>
        <br><br>
      </div>
    </div>
  </div>
</profiles>